<template>
    <div>



        <table class="table">
            <thead class="divstyle">
        <tr>
        <th>Ciutat</th>
        <th>Tiempo</th>
        <th>Descripcion</th>
        <th>Tipus D'event</th>
        <th>Artista</th>
        </tr>
            </thead>
            <tbody>
            <tr>
            <td>
            {{ ciutat.resultsPage.results.event[0].location.city}}
            </td>
                <td>
                    {{ ciutat.resultsPage.results.event[0].start.time}}
                </td>
                <td>
                    {{ ciutat.resultsPage.results.event[0].displayName}}
                </td>
                <td>
                    {{ ciutat.resultsPage.results.event[0].type}}
                </td>
                <td>
                    {{ ciutat.resultsPage.results.event[0].performance[0].displayName}}
                </td>


            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "CurrentMusic",



        props:['ciutat'],
        methods: {
            test:function () {
                console.log(this.ciutat);
            }
        }

    }
</script>

<style scoped>
    .divstyle {
        background: deepskyblue;
    }
    .tablestyle {
        background: aliceblue;
    }
</style>