<template>
    <div>
        <table class="table">
            <thead class="divstyle">
            <tr>
                <th>Ciutat</th>
                <th>Tiempo</th>
                <th>Descripcion</th>
                <th>Pression Atmosferica</th>
                <th>Temperatura</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="tablestyle">
            <tr>
                <td>{{ ciutat.name }}</td>
                <td>{{ ciutat.weather[0].description }}</td>
                <td>{{ ciutat.weather[0].main }}</td>
                <td>{{ ciutat.main.pressure }}</td>
                <td>{{ ciutat.main.temp }}</td>
            </tr>
            </tbody>


        </table>
    </div>
</template>

<script>
    export default {
        name: "Currentweather",

        props:['ciutat'],
        methods: {
            test:function () {
                console.log(this.ciutat);
            }
        }
    }
</script>

<style scoped>
.divstyle {
    background: deepskyblue;
}
.tablestyle {
    background: aliceblue;
}

</style>