<template>
    <div class="container">


        <br>
        <h1>Home tiempo</h1>
        <br>
        <Infometeorologica :ciutats = "ciutatsEu"></Infometeorologica>
        <br>
        <Infometeorologica :ciutats = "ciutatsAs"></Infometeorologica>
        <br>
        <Infometeorologica :ciutats = "ciutatsAf"></Infometeorologica>
        <br>
        <Infometeorologica :ciutats="ciutatsAm"></Infometeorologica>

    </div>



</template>

<script>
    import Infometeorologica from "./Infometeorologica";

    export default {
        name: "Home",
        data: function() {
            return {
                ciutatActual:
                    {"coord": {"lon":145.77, "lat":-16.92},
                        "weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],
                        "base":"cmc stations",
                        "main":{"temp":293.25,"pressure":1019,"humidity":83,"temp_min":289.82,"temp_max":295.37},
                        "wind":{"speed":5.1,"deg":150},
                        "clouds":{"all":75},
                        "rain":{"3h":3},
                        "dt":1435658272,
                        "sys":{"type":1,"id":8166,"message":0.0166,"country":"AU","sunrise":1435610796,"sunset":1435650870},
                        "id":2172797,
                        "name":"Cairns",
                        "cod":200},
                ciutatsEu: [
                    "Barcelona",
                    "Madrid",
                    "Zaragoza",
                    "Sevilla",
                    "Paris",
                ],
                ciutatsAs: [
                    "Tokio",
                    "Pekin",
                    "Moscou",
                    "Nova Delhi",
                    "Pyongyang",
                ],
                ciutatsAf: [
                    "Dakar",
                    "Kinshasa",
                    "Lagos",
                    "Alexandria",
                    "Rabat"
                ],
                ciutatsAm: [
                    "Rio de Janeiro",
                    "Lima",
                    "Quito",
                    "Nova York",
                    "Caracas"
                ]

            }
        } ,

        methods: {

            async test() {
                var response = await fetch('https://api.openweathermap.org/data/2.5/weather?q=' + this.select + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90');
                this.ciutatActual = await response.json()
            }
        },
        components: {
            Infometeorologica:Infometeorologica
        } ,

        watch : {
            select: function(){
                this.test();
            }
        }

    }


</script>

<style scoped>

</style>