<template>
    <div>

        <select v-model="city" class="select is-info">
            <option v-for="ciutat in ciutats" v-bind:key="ciutat">{{ciutat}}</option>
        </select>

        <CurrentMusic :ciutat="ciutatActual"></CurrentMusic>
        <br>

    </div>
</template>

<script>
    import CurrentMusic from "../components/CurrentMusic";

    export default {
        name: "InfoMusica",
        props: {
            ciutats: Array
        },
        data: function () {
            return {
                city: this.ciutats[0],
                ciutatActual: {
                    "resultsPage": {
                        "results": {
                            "event": [
                                {
                                    "id": 11129128,
                                    "type": "Concert",
                                    "uri": "http://www.songkick.com/concerts/11129128-wild-flag-at-fillmore?utm_source=PARTNER_ID&utm_medium=partner",
                                    "displayName": "Wild Flag at The Fillmore (April 18, 2012)",
                                    "start": {
                                        "time": "20:00:00",
                                        "date": "2012-04-18",
                                        "datetime": "2012-04-18T20:00:00-0800"
                                    },
                                    "performance": [
                                        {
                                            "artist": {
                                                "id": 29835,
                                                "uri": "http://www.songkick.com/artists/29835-wild-flag?utm_source=PARTNER_ID&utm_medium=partner",
                                                "displayName": "Wild Flag",
                                                "identifier": []
                                            },
                                            "id": 21579303,
                                            "displayName": "Wild Flag",
                                            "billingIndex": 1,
                                            "billing": "headline"
                                        }
                                    ],
                                    "location": {
                                        "city": "San Francisco, CA, US",
                                        "lng": -122.4332937,
                                        "lat": 37.7842398
                                    },
                                    "venue": {
                                        "id": 6239,
                                        "displayName": "The Fillmore",
                                        "uri": "http://www.songkick.com/venues/6239-fillmore?utm_source=PARTNER_ID&utm_medium=partner",
                                        "lng": -122.4332937,
                                        "lat": 37.7842398,
                                        "metroArea": {
                                            "id": 26330,
                                            "uri": "http://www.songkick.com/metro_areas/26330-us-sf-bay-area?utm_source=PARTNER_ID&utm_medium=partner",
                                            "displayName": "SF Bay Area",
                                            "country": {"displayName": "US"},
                                            "state": {"displayName": "CA"}
                                        }
                                    },
                                    "status": "ok",
                                    "popularity": 0.012763
                                },
                            ]
                        },
                        "totalEntries": 24,
                        "perPage": 50,
                        "page": 1,
                        "status": "ok"
                    }
                },

                cityid: "28714"

            }
        },

        methods: {

            async test() {
                let self = this;

                try {
                    await fetch(' https://api.songkick.com/api/3.0/search/locations.json?query=' + this.city + '&apikey=Cglf2H7c7d4KPMO1')
                        .then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            self.cityid = data.resultsPage.results.location[0].metroArea.id
                        });
                    console.log("CONSOLE LOOOOG")
                    await fetch('https://api.songkick.com/api/3.0/metro_areas/' + self.cityid + '/calendar.json?apikey=Cglf2H7c7d4KPMO1')
                        .then(function (data1) {
                            return data1.json();
                        }).then(function (data) {
                            self.ciutatActual = data
                        });

                    console.log("CityID : " + self.cityid);

                    console.log(this.ciutatActual);
                } catch (err) {
                    this.console.log(err);
                }

                console.warn(this.ciutatActual);
            }
        },
        watch: {
            city: function () {
                console.warn(this.city);
                this.test();
            }
        },
        components: {
            CurrentMusic: CurrentMusic
        }
    }
</script>


<style scoped>

</style>