<template>
    <div>
    <nav class="navbar is-primary"  role="navigation" aria-label="main navigation" >
        <router-link to="/music">Music</router-link>
        <br>
        <router-link to="/">Home</router-link>
        <br>

        <router-link to="/Register">Register</router-link>
    </nav>
    </div>
</template>

<script>
    export default {
        name: "Menu"
    }
</script>

<style scoped>
.spacing {
    Margin-right: 10px;
}
</style>