<template>
    <div class="container">
        <br>
        <h1>Musica</h1>
        <br>
        <InfoMusica :ciutats = "ciutatsEuropa"></InfoMusica>
        <InfoMusica :ciutats = "ciutatsAsia"></InfoMusica>
        <InfoMusica :ciutats = "ciutatsAfrica"></InfoMusica>
        <InfoMusica :ciutats = "ciutatsAmerica"></InfoMusica>


    </div>
</template>

<script>
    import InfoMusica from "./InfoMusica";
    export default {
        name: "User",
        data: function() {
            return {
                ciutatsEuropa:[
                    "Barcelona",
                    "Madrid",
                    "Zaragoza",
                    "Sevilla",
                    "Paris",
                ],
                ciutatsAsia: [
                    "Tokyo",
                    "Pekin",
                    "Moscow",
                    "Nova Delhi",
                    "Pyongyang",
                ],
                ciutatsAfrica: [
                    "Cairo",
                    "Luanda",
                    "Lagos",
                    "Alexandria",
                    "Rabat"
                ],  ciutatsAmerica: [
                    "Rio de Janeiro",
                    "Lima",
                    "Quito",
                    "New York",
                    "Boston"
                ]

            }

        },

        components: {
            InfoMusica:InfoMusica
        }

    }

</script>

<style scoped>

</style>