<template>
    <div>
        <h4 class="subtitle is-4">Add User</h4>

        <p>Add new user</p>


        Name: <input class="input" type="text" v-model="name">
        Password: <input class="input" type="password" >
        Detail: <input class="input" type="text" v-model="detail">

        <button class="button is-success" v-on:click="addUser(detailValue)">Add user</button>
        <button class="button is-danger" v-on:click="cancel">Cancel</button>
    </div>
</template>


<script>
    export default {
        name: "Register",

        data: function () {
            return{
                name: "",
                password:"",
                detail:""
            }
        },

        methods:{
            addUser(){
                this.$store.dispatch('addUser', { name: this.name,
                    password: this.password,
                    detail: this.detail});

                this.$router.push('/user');
            },

            cancel(){
                this.$router.push('/user');
            }
        }
    }
</script>

<style scoped>

</style>